:root {
  --primary-color: #1a4d5d;
  --secondary-color: #1babb6;
  --third-color: #40b184;
  --fourth-color: #ea5238;
  --bg-color: #fff;
  --primary-font-family: Arial, Helvetica, sans-serif;
  --main-min-height: 85vh;
  --nav-min-height: 15vh;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(var(--secondary-color), var(--third-color));
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
 
}

ul {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  height: var(--nav-min-height);
  padding: 0 20px;
  color: var(--bg-color);
  background-color: var(--primary-color);
}

header img {
  width: 80px;
}
header h1{
  padding-left: 250px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  padding: 0 12px;
}

header nav ul li:nth-of-type(2) {
  border-left: 1px var(--bg-color) solid;
  border-right: 1px var(--bg-color) solid;
}
/* Menu burger */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 20px; /* Ajustez cette valeur pour le centrer davantage à droite */
  top: 65px;  /* Centrage vertical */
  transform: translateY(-50%);
}
a#staffHeaderMobile{
  display: none;
}
.burger-menu span {
  background-color: var(--bg-color);
  height: 3px;
  width: 100%;
  border-radius: 2px;
}
span.material-icons{
  margin-left: 8px;
}

/**** Zone du milieu ****/
.middle {
  position: relative;
  min-height: 1000px;
  margin-left: 17%;
}

/********* Barre de recherche et filtres **********/
.search-container,
.filter {
    margin: 20px 0;
    height: 45px;
    width: 98%;
}
#search-input {
  border: 1px solid var(--primary-color);
}
#search-input,
.card {
    width: 55%;
    padding: 7px;
    height: 45px;
    margin-right: 15%;
}
.search-container {
  display: flex;
}
#search-input,
.card,
button.valid{
    border-radius: 10px;
}
.reset-button,
.filter-status,
.filter-date,
button.valid {
    color: var(--bg-color);
    cursor: pointer;
}
.filter-status,
.filter-date,
button.valid{
    background-color: transparent;
    border: none;
}

/********* card **********/
#clients-container, #servers-container,.card-header,
.card .card-header .card-right, .filter {
  display: flex;
}
#clients-container, #servers-container {
  flex-wrap: wrap;
  position: relative;
}
.filter, .card-footer a,.material-symbols-outlined{
  cursor: pointer;
}
.card {
  width: 80%;
  margin: 0 0 40px;
  padding: 10px 15px;
  height: 25%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid var(--primary-color);
  position: relative;
  font-size: clamp(0.6rem, 0.8rem, 1.1rem);
  background-color: var(--bg-color);
  flex-direction: column;
}
.card-header {
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.card .card-header .card-left {
    width: 50%;
    text-align: left;
}

.card .card-header .card-right {
    justify-content: center;
    width: 20%;
    text-align: right;
}
.card-body {
  text-align: left;
  margin: 15px 0;
}
.card-footer {
  margin-top: 10px;
  justify-content: flex-start;
  gap: 10px;
}
/***************boutons alignés à gauche************************/
a.servers,
a.detail,
a.hardware,
a.software,
a.history,
a.client {
    border-radius: 50px;
    display: inline-block;
    height: 15px;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
    color: var(--primary-color);
    background-color: var(--bg-color);
    transition: color 0.3s ease, background-color 0.3s ease;
}
/* Changement de couleur au survol des liens */
a.servers:hover,
a.detail:hover,
a.hardware:hover,
a.software:hover,
a.history:hover,
a.client:hover {
    background-color: var(--primary-color);
    /* Changer la couleur de fond au survol */
    color: var(--bg-color);
    /* Changer la couleur du texte au survol */
}
a.hardware,
a.software,
a.history,
a.client {
    padding: 8px 15px;
}

.menu-burger-footer {
  display: none;
}

/* Responsive section */
@media (max-width: 768px) {
  header h1 {
    padding-left: 0; /* Pas de padding sur petits écrans */
  }
  header a#staffHeader{
    display: none;
  }
  a#staffHeaderMobile{
    display: block;
  }
  /* Masquer le menu principal et afficher le burger */
  header nav ul {
    display: none;
   flex-direction: column;
    position: absolute; 
    top: 0;
     left: 0;
    right: 0; 
    /* bottom: 0; */
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px 0;
    
  }

  header nav ul.show {
    display: flex;
  }

  .burger-menu {
    display: flex;
  }

  /* Styles des éléments du menu burger */
  header nav ul li {
    padding: 15px 0;
    width: 100%;
  }

  header nav ul li:nth-of-type(2) {
    border: none;
  }
}
@media (max-width: 780px) {

  /*******début page serveur des clients***********/
  /* Cacher les boutons du menu du footer */
  .menu-footer a {
      display: none;
  }

  /* Afficher le menu burger */
  .menu-burger-footer {
      display: block;
      cursor: pointer;
      font-size: 16px;
      color: var(--primary-color);
      padding: 5px;
      background-color: var(--bg-color);
      border-radius: 50px;
  }
  /*******fin page serveur des clients***********/
  /* Affichage du menu burger (liens cachés dans un menu déroulant) */
  .menu-burger-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      /* 2 colonnes avec un partage égal */
      gap: 10px;
      /* Espace entre les éléments */
      background-color: var(--bg-color);
      position: absolute;
      left: 10px;
      top: 102%;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
      padding: 10px;
      border-radius: 10px;
      z-index: 1;
  }

  .menu-burger-content a {
      text-align: center;
      padding: 10px;
      background-color: var(--bg-color);
      color: var(--primary-color);
      border-radius: 5px;
      text-decoration: none;
  }

  .menu-burger-content a:hover {
      background-color: var(--primary-color);
      color: var(--bg-color);
  }

  /*******fin page serveur des clients***********/
}
