<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/staff.css" />
  <link rel="stylesheet" href="/style/style.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
  <form class="login-box" method="POST">
    <h3>Connexion</h3>
    <% if (message) { %>
      <p class="error-message" ><%= message %></p>
    <% } %>

    <label for="email">Email</label>
    <input type="email" id="email" name="staff_email" required />

    <label for="password">Password</label>
    <input type="password" id="password" name="staff_password" required />

    <button type="submit" class="submit-btn">Valider</button>

    <div class="links">
      <a href="accountCreation">Créer un compte</a>
      <a href="#">Mot de passe oublié</a>
    </div>
  </form>
</main>

  </body>
</html>
