   <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/404.css">
        <title>404</title>
    </head>
    <body style="margin-top:250px;">
   <div class="jc-elevator">
      <div id="myBtn" class="jc-floor">
         <h3>404</h3>
      </div>
      <div id="doors" class="jc-doors">

         <div>Oops... <br>Wrong floor</div>
         <div>Page not found</div>
      </div>
     
      <div class="jc-switch">
         <a href="#"></a>
         <a href="#"></a>
      </div>
   </div>
</body>
    </html>
